<strong>Kia ora</strong>
<p>
  You are invited to participate in a research study on improving the motivational aspects of CodeWOF. This study is
  being conducted by Jackie Qiu from the University of Canterbury ׀ Te Whare Wānanga o Waitaha (UC). Other research
  team members include Tim Bell and Jack Morgan. The study is being carried out as a requirement for the Bachelor of
  Engineering with Honours degree.
</p>

<strong>What is the purpose of this research?</strong>
<p>
  This research aims to determine how we can motivate users to use CodeWOF more regularly to prevent their Python
  programming skills from decaying over time. We are interested in finding out whether the introduction of email
  reminders and user groups are effective at motivating users. The information from this study will help us to analyse
  how these features are used, determine if they were successful, and further refine the features.
</p>

<strong>Who can participate?</strong>
<p>
  This site is intended primarily for those teaching Python programming. If you are not a teacher and/or are below the
  age of 18, then we ask you to refrain from participating.
</p>
<p>
  Your participation is voluntary (your choice). If you decide not to participate, there are no consequences.
  Your decision will not affect your relationship with me, the University of Canterbury or any member of the research
  team.
</p>

<strong>What is involved in participating?</strong>
<p>
  If you choose to take part in this research, you will be asked to use an experimental version of CodeWOF with new
  features. You will use CodeWOF as you would normally; this is ideally a few times a week, but we’re interested in how
  it works for you, so it’s entirely up to you how you use it. In addition to using existing CodeWOF functionality like
  answering regular questions, you should also use the new email reminder and user group features. However, you are free
  to ignore email reminders or groups if they do not interest you, as this is also valuable data. This version of
  CodeWOF will be open during September. We estimate that your participation will take around 5 to 10 hours spread out
  across September.
</p>

<strong>Are there any potential beneﬁts from taking part in this research?</strong>
<p>
  Emails will remind you to use CodeWOF regularly. Groups offer a social element and encourage users to try as hard as
  their fellow group members. Both are anticipated to contribute to higher/more consistent usage of CodeWOF. This should
  result in higher confidence in programming, which can translate into better teaching of programming in the classroom.
</p>

<strong>Are there any potential risks involved in this research?</strong>
<p>
  Participants can form user groups in CodeWOF with other teachers they know. As such, this could affect the social
  dynamic between them, meaning this is a minor risk. There is a “like” system in the Group feed. This could affect the
  relationship between users in a group e.g. wondering why someone did not like your attempt or being envious of other
  group members that get more likes. Users may become self-conscious about their performance in the feed, such as if
  they do not have as much time as their colleagues to make question attempts. To mitigate this, there is an option to
  disable the feed (including the likes) altogether, and of course, you can withdraw from the trial at any time.
</p>

<strong>What if you change your mind during or after the study?</strong>
<p>
  You are free to let us know that you want to withdraw at any time during the study. We can delete your user account
  from the database, which will also delete all your question attempts and group memberships. At your request, your data
  will not be included in the final analysis. It may be difficult or impossible after 01/10/21 when data is combined
  and analysed.
</p>

<strong>What information will we collect?</strong>
<p>
  We will collect which days users choose to get reminders on. This will give insight into how many reminders users
  want a week and whether they want reminders at all. We will also collect the amount of time between the sending of a
  reminder and when the user makes their first attempt afterwards, as this could indicate how motivating the emails are.
  We will also collect the number of attempts each day to see how reminders have affected total usage.
</p>
<p>
  For groups, we will collect how many groups users are in (if any) which will give insight into how valuable users find
  these groups. We will also collect group sizes as this will indicate how these groups are used (e.g., 2-3 friends, or
  a large group). We will collect how many attempts an individual user and a group collectively make. This will be used
  to compare how many attempts a user in a group makes compared to those not in any group. We will also collect how many
  likes a user makes on average to evaluate the value of the like system.
</p>

<strong>What will happen to the information you provide?</strong>
<p>
  All data will be confidential. Your identity will not be shared with anyone outside the research team. We will store
  all study data in password-protected files on the University of Canterbury computer. All data will be destroyed after
  the completion of the project. Jackie Qiu will be responsible for making sure that only members of the research team
  use your data for the purposes mentioned in this information sheet.
</p>

<strong>Will the results of the study be published?</strong>
<p>
  The results of this research will be published in a final year project report that only the research team and the
  marker of the report will see. The results will also be discussed in a showcase presentation. If the results are
  particularly interesting and there are enough participants, then the results may be published in an academic journal
  article or conference. None of the data shown will allow a participating individual to be identified. A summary of
  results will be sent to all participants who request a copy of these.
</p>

<strong>Who can you contact if you have any questions or concerns?</strong>
<p>
  If you have any questions about the research, please contact Jackie Qiu: jqi26@uclive.ac.nz. For general concerns,
  please contact Tim Bell: tim.bell@canterbury.ac.nz.
  This study has been reviewed and approved by the University of Canterbury Human Research Ethics Committee (HREC). If
  you have concerns or complaints about this research, please contact the Chair of the HREC at
  human-ethics@canterbury.ac.nz.
</p>

<strong>What next?</strong>
<p>
  If you agree to the information above, then click Register for study below to go to the consent page. You will then
  have access to the rest of the site.
</p>
